<div id="fh5co-header" class="d-flex text-center">
    <div class="container mt-5">
        <img class="flower-1" style="position: absolute; right: 0; top: 0" src="images/flowers/top-right-1.svg">
        <img class="flower-1" style="position: absolute; left: -25px; top:0" src="images/flowers/top-left-1.svg">
        <div class="row justify-content-center">            
            <div class="col-md-8 col-md-offset-2 text-center mt-5 fh5co-heading animate-box position-relative">
                <h2 class="great-vibes-regular">The Wedding Of</h2>
            </div>
        </div>
        <div class="row justify-content-center">            
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <img src="images/half-circle-flower-500.png" alt="" class="couple-main">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h1 class="great-vibes-regular">Rehan & Maulidan</h1>
                <p style="color: #bf9b73">Kami berharap Anda menjadi bagian dari hari istimewa kami!</p>     
                
                <div id="countdown" class="countdown-container d-flex justify-content-center align-items-center mt-4">
                    <div class="time-wrapper">
                        <div class="time-unit rounded-circle bg-light d-flex justify-content-center align-items-center" id="days"></div>
                        <div class="time-label text-center mt-2">Days</div>
                    </div>
                    <div class="time-wrapper">
                        <div class="time-unit rounded-circle bg-light d-flex justify-content-center align-items-center" id="hours"></div>
                        <div class="time-label text-center mt-2">Hours</div>
                    </div>
                    <div class="time-wrapper">
                        <div class="time-unit rounded-circle bg-light d-flex justify-content-center align-items-center" id="minutes"></div>
                        <div class="time-label text-center mt-2">Minutes</div>
                    </div>
                    <div class="time-wrapper">
                        <div class="time-unit rounded-circle bg-light d-flex justify-content-center align-items-center" id="seconds"></div>
                        <div class="time-label text-center mt-2">Seconds</div>
                    </div>
                </div>                
                
                <br>
                <p>
                    <a href="https://calendar.google.com/event?action=TEMPLATE&tmeid=NW0zY2Ewam91bnUzbW5ub2YwdjVxaTliNmUgcDY4MjI3cmY0dTJ0cWI1b3JrZjEwbTN1NDRAZw&tmsrc=p68227rf4u2tqb5orkf10m3u44%40group.calendar.google.com" target="_blank" class="btn btn-primary btn-sm">Save the date</a><br>
                    <i style="font-size: 15px">*Klik tombol ini untuk menyimpan tanggal pada google kalender</i>
                </p>
            </div>
        </div>
    </div>
</div>
