<div id="fh5co-couple" style="background: url('images/so-white.png'); background-repeat:repeat">
    <div class="container">
        <img class="flower-2-right" style="position: absolute;" src="images/flowers/right-1.svg">
        <img class="flower-2-left" style="position: absolute;" src="images/flowers/left-1.svg">
        <div class="row justify-content-center">            
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <img src="images/bismillah.svg" alt="" style="margin-bottom: 20px">
                <h2>Assalamu'alaikum Wr. Wb.</h2>
                <p style="color: #bf9b73">Tanpa mengurangi rasa hormat. Kami mengundang Bapak/Ibu/Saudara/i serta Kerabat sekalian untuk menghadiri acara pernikahan kami:</p>
            </div>
        </div>
        <div class="couple-wrap animate-box">
            <div class="couple-half">
                <div class="groom">
                    <img src="images/rehan-square.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-groom">
                    <h3>Rayhan Yulanda</h3>
                    <p><span style="color: #bf9b73">Putri Keempat dari</span><br>
                        <span class="parents-font">Bapak Samidan Angkasa Wijaya</span>
                        <br>
                        <span class="parents-font">Ibu Sufrida</span>
                    </p>
                </div>
            </div>
            <p class="heart text-center"><i class="icon-heart2"></i></p>
            <div class="couple-half">
                <div class="bride">
                    <img src="images/molid-square.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-bride">
                    <h3>Maulidan Nashuha</h3>
                    <p><span style="color: #bf9b73">Putra Kedua dari</span><br>
                        <span class="parents-font">Bapak Asri Abdurrahman</span>
                        <br>
                        <span class="parents-font">Ibu Marliana</span>
                    </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>